.socialninja {
  width: 100px;
  display: inline-block;
  margin: 0 15px 10px 0;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 18px;
  color: #fff!important;
  text-align: center;
}

.socialninja_twitter {
  background-color: #4099ff;
}

.socialninja_facebook {
  background-color: #3b5998;
}

.socialninja_google {
  background-color: #D34836;
}

.socialninja_linkedin {
  background-color: #3399cc;
}

.socialninja_pinterest {
  background-color: #cb2027;
}

.socialninja_digg {
  background-color: #0093CC;
}

.socialninja_reddit {
  background-color: #2E81D5;
}
